body {
    margin: 0;
    background-color: black;

}

.show{
    display:inline;
}

.hide{
    display:none;

}

.active{
    border: 2px solid lawngreen;
    background-color: black;
    color: #ffffff;
}

.inactive{
    border: 2px solid red;
    background-color: black;
    color: #ffffff;
}